{% extends "base.html" %}

{% block content %}
<div>
    <div id="work-area">
        <img src="" id="photo">
    </div>
    <div id="feedback-area">
        <div class="demo-row">
            <div class="demo-container">
                <img src="" id="demo">
            </div>
            <div class="demo-container">
                <img src="" id="norm">
            </div>
        </div>
        <button id="next-image" type="submit">Get next image</button>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

    $(document).ready(function () {

        $("#next-image").click(function () {
            $.get("/get-next-image", function (response) {
                var width = response["width"];
                var height = response["height"];
                var filename = "/static/todo/" + response["filename"];
                $("#photo").imgAreaSelect({remove: true}).attr('src', filename).imgAreaSelect({
                    onSelectEnd: function (img, selection) {
                        var filename = $('#photo').attr("src");
                        var xScale = width / $("#photo").width();
                        var yScale = height / $("#photo").height();
                        var result = {
                            filename: filename,
                            x1: selection.x1 * xScale,
                            y1: selection.y1 * yScale,
                            x2: selection.x2 * xScale,
                            y2: selection.y2 * yScale
                        };
                        $.post("/crop-image", result, function (response) {
                            console.log(response);
                            var rendering = response["render"];
                            $("#demo").attr("src", rendering + "?" + new Date().getTime());
                            var normalized = response["normalized"];
                            $("#norm").attr("src", normalized + "?" + new Date().getTime());
                        });
                    }
                });
                $("#demo").attr('src', '');
                $("norm").attr('src', '');
            });
        });

        $('#input').change(function (event) {
            var tmppath = URL.createObjectURL(event.target.files[0]);
            $("#photo").attr('src', tmppath);
        });

    });

</script>
{% endblock %}
