{% extends "base.html" %}
<!-- This tells Flask to use base.html as a base for this template -->

<!-- This tells Flask to fill in the block `content` in base.html with the enclosed code -->
{% block content %}
<script type="text/javascript" src="../static/js/js.js"></script>
<h1 id='h1'> Stinger Analysis!</h1>
<br>
<input type="file" id="input"/>
<br>
<br>
<img width="800px" src="" id="photo"/>
<script>$(document).ready(function () {

    $('img#photo').imgAreaSelect({
        onSelectEnd: function (img, selection) {
            var filename = $('#input').val().split('\\').pop();
            var result = JSON.stringify({
                filename: filename,
                x1: selection.x1,
                y1: selection.y1,
                x2: selection.x2,
                y2: selection.y2
            });

            console.log(result);
        }
    });

    $('#input').change(function (event) {
        var tmppath = URL.createObjectURL(event.target.files[0]);
        $("#photo").attr('src', tmppath);
    });

    $.ajax({
        url: "../static/img/",
        success: function (data) {
            $(data).find("a:contains(.tif)").each(function () {
                // will loop through
                console.log(this);

            });
        }
    });


});


</script>
{% endblock %}
